@import "config";

.playerPanel.panel {
  background-color: $panel-bg;
}

.card.missionBar {
  background-color: $mission_bar-bg;
  padding: $mission_bar-padding;
  position: relative;
  z-index: 777;
}

.toggle.missionbar_icon {
  [data-react-toolbox="font-icon"] {
    font-size: $mission_bar-icon-size;
  }
}
